domain:         253.177.195.in-addr.arpa
descr:          ESGOB LTD
org:            ORG-ESGB1-RIPE
admin-c:        NAT-RIPE
tech-c:         NAT-RIPE
zone-c:         NAT-RIPE
nserver:        ns1.esgob.com
nserver:        ns2.esgob.com
nserver:        ns0.esgob.co.uk
ds-rdata:       64912 5 1 9310B813BBFA37659BC666EF911D62AB616BF338
notify:         ripenotify@esgob.com
source:         RIPE
mnt-by:         NAT-MNT
changed:        ripe@esgob.com 20140210
